{% extends "medicpage/base.html" %}
{% block container %}

<main>
    <div class="area">
        <div class="container-imc">
            <h2>Calculadora de IMC</h2>
            <div class="area-input">
                <h3>Altura (m)</h3>
                <input id="height" type="number">
            </div>
            <div class="area-input">
                <h3>Peso (kg)</h3>
                <input id="weight" type="number">
            </div>
            <button onclick="calculate()">Calcular</button>
            <textarea name="" id="text-area" rows="4"></textarea>
        </div>
    </div>

</main>
{% endblock container %}